<%= simple_form_for(@produce_task) do |f| %>
  <%= f.error_notification %>
<!-- 重写此form参考new.html.erb -->
  <div class="form-inputs">
    <%= f.association :order %>
    <%= f.association :material_category%>
    <%= f.association :material_type %>
    <%= f.input :sequence %>
    <%= f.input :area %>
    <%= f.association :mix_task %>
    <%= f.input :mix_status %>
    <%= f.input :availability %>
    <%= f.input :work %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, value: '提交' %>
  </div>
<% end %>


