<p id="notice"><%= notice %></p>

<h1>Listing Produce Tasks</h1>

<table class="table table-border">
  <thead>
    <tr>
      <th>Order</th>
      <th>Material category</th>
      <th>Material type</th>
      <th>Sequence</th>
      <th>Area</th>
      <th>Mix task</th>
      <th>Mix status</th>
      <th>利用率</th>
      <th>Work</th>
      <th>混单状态</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @produce_tasks.each do |produce_task| %>
      <tr>
        <td><%= produce_task.order.order_code %></td>
        <td><%= produce_task.item_name %></td>
        <td><%= produce_task.item_category%></td>  
        <td><%= produce_task.sequence %></td>
        <td><%= produce_task.area %></td>
        <td><%= produce_task.mix_task.try(:id) %></td>
        <td><%= produce_task.mix_status %></td>
        <td><%= produce_task.availability %></td>
        <td><%= produce_task.work.try(:name) %></td>
        <td><%= produce_task.mix_status%></td>
        <td><%= link_to 'Show', produce_task %></td>
        <td><%= link_to 'Edit', edit_produce_task_path(produce_task) %></td>
        <td><%= link_to 'Destroy', produce_task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
