<!-- Page title -->
<div class="page-title">
  <h3><i class="fa fa-desktop color"></i> 生产任务单管理<small>创建生产任务</small>
  <span class="pull-right">

  </span>
  </h3>
  <hr />
</div>
<%=form_tag produce_tasks_path(@produce_task), class: 'form-inline' do%>
<div class="awidget full-width">
  <div class="awidget-head">
    <div class="row">
        <div class="col-xs-2 col-sm-2">
          <%=label_tag 'ply','厚度'%>
          <%= select_tag(:ply, options_for_select(@material_categories.where(oftype: 0).map {|mc| [mc.name,mc.id]}),{ :class => 'form-control'}) %>
        </div>
        <div class="col-xs-2 col-sm-2">
          <%=label_tag 'texture','材质'%>
          <%= select_tag(:texture, options_for_select(@material_categories.where(oftype: 1).map {|mc| [mc.name,mc.id]}),{ :class => 'form-control'}) %>
        </div>
        <div class="col-xs-2 col-sm-2">
          <%=label_tag 'face','表面'%>
          <%= select_tag(:face, options_for_select(@material_categories.where(oftype: 2).map {|mc| [mc.name,mc.id]}),{ :class => 'form-control'}) %>
        </div>
        <div class="col-xs-2 col-sm-2">
          <%=label_tag 'color','颜色'%>
          <%= select_tag(:color, options_for_select(@material_categories.where(oftype: 3).map {|mc| [mc.name,mc.id]}),{ :class => 'form-control'}) %>
        </div>
        <div class="col-xs-4 col-sm-4 ">
          <%=label_tag 'area','面积' %>
          <%= number_field_tag :area, nil,:step => 'any', class: 'form-control', :required => true, style: "width: 20%"%>
          <%=label_tag 'number','数量' %>
          <%= number_field_tag :number, nil, :class => 'form-control', :required => true, style: "width: 20%"%>
        </div>
    </div>
    <div>
      <p class="pull-right"><%= submit_tag "创建任务单", class: 'btn btn-info'%></p>
    </div>
    <br/>
  </div>
  <div class="awidget-body">
    <div class="table-responsive" style="height: 500px;">
      <table class="table table-border">
        <thead>
          <tr>
            <th>勾选</th>
            <th>订单号</th>
            <th>名称</th>
            <th>厚度</th>
            <th>材质</th>
            <th>表面</th>
            <th>颜色</th>
            <th>封边</th>
            <th>长</th>
            <th>宽</th>
            <th>数量</th>
            <th>剪裁尺寸</th>
            <th>备注</th>
          </tr>
        </thead>
        <tbody>
          <% @order_units.each do |unit|%>
          <tr>
            <td><%=check_box_tag 'units[id][]', unit.id%></td>
            <td><%= unit.order.order_code %></td>
            <td><%= unit.unit_name%></td>
            <td><%= unit.ply_name%></td>
            <td><%= unit.texture_name%></td>
            <td><%= unit.face_name%></td>
            <td><%= unit.color_name%></td>
            <td><%= unit.edge%></td>
            <td><%= unit.length%></td>
            <td><%= unit.width%></td>
            <td><%= unit.number%></td>
            <td><%= unit.size%></td>
            <td><%= unit.note%></td>

          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<%end%>