<!-- Page title -->
<div class="page-title">
  <h3><i class="fa fa-desktop color"></i> 生产任务单管理<small>生产任务详细</small>
    <span class="pull-right">
    </span>
  </h3>
  <hr />
</div>
<div class="awidget full-width">
   <div class="awidget-head">    
        <div class="row">
           <div class="col-md-12 col-sm-12">
              <h3>生产原料
              </h3>
           </div>
        </div>
   </div>
   <div class="awidget-body">
      <div class="row">
         <div class="col-md-6 col-sm-6">
            原料名称:<%=@produce_task.item.name %>
         </div>
         <div class="col-md-3 col-sm-3">
            板料面积:<%=@produce_task.area %>
         </div>
         <div class="col-md-3 col-sm-3">
            数量:<%=@produce_task.number %>
         </div>
      </div>
   </div>
</div>
<% if @produce_task.item_type =="Material" %>
  <div class="awidget full-width">
     <div class="awidget-head">    
          <div class="row">
             <div class="col-md-12 col-sm-12">
                <h3>订单部件列表</h3>
             </div>
          </div>
     </div>
     <div class="awidget-body">
      <div class="table-responsive" style="height: 400px;">
         <table class="table table-bordered table-hover table-striped table-condensed">
            <thead>
               <tr>
                  <th>编号</th>
                  <th>名称</th>
                  <th>厚度</th>
                  <th>材质</th>
                  <th>表面</th>
                  <th>颜色</th>
                  <th>封边</th>
                  <th>长</th>
                  <th>宽</th>
                  <th>数量</th>
                  <th>剪裁尺寸</th>
                  <th>备注</th>
               </tr>
            </thead>
            <tbody>
               <% @produce_task.order_units.each do |unit|%>
               <tr>
                  <td><%= unit.id%></td>
                  <td><%= unit.unit_name%></td>
                  <td><%= unit.ply_name%></td>
                  <td><%= unit.texture_name%></td>
                  <td><%= unit.face_name%></td>
                  <td><%= unit.color_name%></td>
                  <td><%= unit.edge%></td>
                  <td><%= unit.length%></td>
                  <td><%= unit.width%></td>
                  <td><%= unit.number%></td>
                  <td><%= unit.size%></td>
                  <td><%= unit.note%></td>
               </tr>
               <% end %>
            </tbody>
         </table>
        </div>
     </div>
  </div>
<%end%>