<%= simple_form_for(@item_storage, url: @item_storage.new_record? ? item_storages_path : item_storage_path(@item_storage)) do |f| %>
<%= f.error_notification %>
<div class="form-inputs">
  <%= f.input :storage_date %>
  <%= f.input :receiver %>
  <%= f.input :purchase_id, readonly: true %>
  
  <%= f.input :item_name, readonly: true %>

  <%= f.input :brand %>
  <%= f.input :number %>
  <%= f.association :supplier %>
</div>
<div class="form-actions">
  <%= f.button :submit, value:'提交', class: 'btn btn-lg btn-block btn-primary' %>
</div>
<% end %>