<%= simple_form_for(@part, url: @part.new_record? ? parts_path : part_path(@part)) do |f| %>
  <%= f.association :part_category, :include_blank => true%>
  <%= f.input :name %>
  <%= f.input :price%>
  <%= f.input :number %>
  <%= f.input :brand %>
  <%= f.association :supplier%>
  <div class="form-actions">
    <%= f.button :submit, class: 'btn btn-lg btn-block btn-primary'  %>
  </div>
<% end %>


