<p id="notice"><%= notice %></p>

<h1>Listing Meterial Catelogs</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @meterial_catelogs.each do |meterial_catelog| %>
      <tr>
        <td><%= meterial_catelog.name %></td>
        <td><%= link_to 'Show', meterial_catelog %></td>
        <td><%= link_to 'Edit', edit_meterial_catelog_path(meterial_catelog) %></td>
        <td><%= link_to 'Destroy', meterial_catelog, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Meterial catelog', new_meterial_catelog_path %>
