<!-- Page title -->
<div class="page-title">
  <h2><i class="fa fa-desktop color"></i> 员工管理<small>员工</small>
    <span class="pull-right">
      <form class="form-inline" role="search">
      <div class="input-group">
        <%= hidden_field_tag :department, params[:department] %>
        <%= text_field_tag :q, params[:q], class: 'form-control', placeholder: '输入Email/登录名称...' %>
        <span class="input-group-btn">
          <button type="submit" class="btn btn-default">查询</button>
        </span>
      </div>        
      </form>
    </span>
  </h2>
  <hr />
</div>


<div class="row">
  <div class="col-lg-12">
    <div class="btn-group" role="group" aria-label="">
      <% Department.all.map{|d| [d.id, d.name]}.push([nil, '所有用户']).each do |k, name| %>
        <%= link_to name, users_path(department: k), class: "btn btn-default #{'btn-primary' if params[:department].to_s == k.to_s}" %>
      <% end %>
    </div>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-md-12">
    <div class="table-responsive">
      <table class="table table-bordered table-condensed">
        <thead>
          <tr>
            <th>编号</th>
            <th>联系方式</th>
            <th>用户名</th>
            <th>注册日期</th>
            <th>所属部门</th>
            <th>角色</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody>
        <% @users.each do |user| %>
          <tr>
            <td><%= user.id %></td>
            <td><%= link_to user.email, user %></td>
            <td><%= user.name %></td>
            <td><%= user.created_at.to_date %></td>
            <td>
              <%= user.department.try(:name)%>
            </td>
            <td>
              <%= user.roles.map(&:name).join(',')%>
            </td>
            <td>
              <% unless user.role?("administrator") %>
                <%= link_to  edit_user_path(user),  class: 'btn btn-xs btn-warning' do %>
                  <i class="fa fa-pencil"></i>
                <% end %>
                <%= link_to user_path(user), :data => { :confirm => "确定要删除吗?" }, :method => :delete, :class => 'btn btn-xs btn-danger' do %>
                <i class="fa fa-times"></i>
                <%end%>
              <% end %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<%= paginate @users %>