<div class="page-title">
  <h2><i class="fa fa-desktop color"></i>  采购单 <small>详细</small>
  <span class="pull-right">
    <%= link_to('返回', :back, class: 'btn btn-lg btn-default') %>
  </span>
  </h2>
  <hr />
</div>
<div class="awidget full-width">
  <div class="awidget-head">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <h3>采购单详细
        </h3>
      </div>
    </div>
  </div>
  <div class="awidget-body">
    <table class="table table-hover table-striped table-bordered">
      <tbody>
          <thead>
            <tr>
              <td>生产单号</td>
              <td>项目名称</td>
              <td>项目类别</td>
              <td>项目数量</td>
              <td>应付款</td>
              <td>单价</td>
              <td>到货数量</td>
              <td>审核状态</td>
            </tr>
          </thead>
          <tbody>
              <tr>
                <td><%=@purchase.produce_task_id%></td>
                <td><%=@purchase.item_name %></td>
                <td><%=@purchase.item_category%></td>
                <td><%=@purchase.number%></td>
                <td><%=@purchase.payable%></td>
                <td><%=@purchase.price%></td>
                <td><%=@purchase.arrival_number%></td>
                <td><%=@purchase.check_status_name%></td>
              </tr>
          </tbody>
      </tbody>
    </table>
  </div>
</div>