<!-- Page title -->
<div class="page-title">
  <h2><i class="fa fa-desktop color"></i> 部门管理<small>部门</small>
    <span class="pull-right">
      <%= link_to '添加', new_department_path, class: 'btn btn-lg btn-info' %>
    </span>
  </h2>
  <hr />
</div>
<!-- Page title -->
<div class="awidget full-width">
   <div class="awidget-head">
      <div class="row">
         <div class="col-md-12 col-sm-12">
            <h3>所有部门
            </h3>
         </div>
      </div>   
   </div>
   <div class="awidget-body">
      <table class="table table-hover table-bordered ">
       <thead>
         <tr>
           <th>部门ID</th>
           <th>名称</th>
           <th>部门经理</th>
           <th>部门人数</th>
           <th>部门职能</th>
           <th>处理</th>
         </tr>
       </thead>
       <tbody>
         <% @departments.each do |department| %>
           <tr>
             <td><%= department.id %></td>
             <td><%= department.name %></td>
             <td><%= link_to department.manager.try(:name), user_path(department.manager) %></td>
             <td><%= department.number %></td>
             <td><%= department.desc  %></td>
             <td></td>
           </tr>
         <% end %>                              

       </tbody>
     </table>
    </div>
</div>