<%= simple_form_for(@order, url: @order.new_record? ? orders_path : order_path(@order)) do |f| %>
  	<%= f.input :order_code %>
  	<%= f.association :agent %>
  	<%= f.input :order_type, collection: Order.order_type, as: :radio_buttons, item_wrapper_class: 'radio-inline' %>
  	<%= f.input :require_time%>
  <div class="form-actions">
    <%= f.button :submit, class: 'btn btn-lg btn-block btn-primary', value: '提交'  %>
  </div>
<% end %>