<div class="page-title">
  <h2><i class="fa fa-desktop color"></i> 订单管理&nbsp;&nbsp;
  <small><%= @order.order_type_name%></small>&nbsp;&nbsp;<small>发货时间：<%=@order.require_time.to_date%></small>
  <span class="pull-right">
    <%= link_to '返回', orders_path, class: 'btn btn-lg btn-info' %>
    <%= link_to '编辑', edit_order_path(@order), class: 'btn btn-lg btn-info' %>
  </span>
  </h2>
  <hr />
</div>
<div class="awidget full-width">
  <div class="awidget-head">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <div class="col-md-8 col-sm-8">
          <p>订单号：<%= @order.order_code%>&nbsp;&nbsp;&nbsp;&nbsp;
                订单状态：
              <% if @order.work.sequence > 2 %>
                <%= link_to @order.work.name, order_offers_path(@order),class:'detail-link'%>
              <% else %>
                <%= @order.work.name %>
              <% end %>
              &nbsp;&nbsp;&nbsp;&nbsp;
                下单客户：<%=link_to @order.agent.name, agent_path(@order.agent)%>
          </p>
        </div>
        <% if @order.separated? %>
        <div class="pull-right">
            <button type="button" class="btn btn-info" data-toggle="modal" data-target="#offer">
            生成报价单
            </button>
        </div>
        <% elsif @order.not_separate? %>
        <div class="pull-right">
              <%= form_for @order, class:'' do |f| %>
              <%= f.hidden_field :work_id, value: 2 %>
              <%= f.submit '完成拆单', data: {:confirm => '确定提交拆单信息?'}, class:'btn btn-info' %>
              <% end %>
        </div>
        <% else %>
        <% end %>
      </div>
    </div>
  </div>
  <% if @order.not_separate?%>
  <div class="awidget-body">
    <%= form_tag import_order_order_units_path(@order), multipart: true, class: 'form-inline' do %>
    <div class="row">
      <div class="col-xs-3 col-sm-3">
        <%= file_field_tag :file, required: true, accept: 'csv'%>
      </div>
      <div class="col-xs-6 col-sm-6">
        <%= submit_tag "导入拆单文件", class: 'btn btn-info btn-xs'%>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <p>请导入csv文件，表头为部件名称,板材,长,宽,厚,数量,裁切尺寸,柜体名称,订单号,订货商,终端信息,封边,纹理,备注,条码,流水号</p>
      </div>
    </div>
    <% end %>
  </div>
  <% end %>
</div>
<%= render 'order_units'%>
<%= render 'order_parts'%>
<%= render 'order_offers'%>