<!-- Page title -->
<div class="page-title">
  <h2><i class="fa fa-desktop color"></i> 资金科目
  <span class="pull-right">
    <%= link_to '添加', new_application_fund_path, class: 'btn btn-lg btn-info' %>
  </span>
  </h2>
  <hr />
</div>
<!-- Page title -->
<div class="awidget full-width">
  <div class="awidget-head">
    <div class="row">
      <div class="col-lg-12">
        <span class="pull-right">
          <form class="form-inline" role="search">
            <div class="input-group">
              <%= select_tag :work_id, options_from_collection_for_select(Work.all, "id", "name", params[:work_id]), prompt: '所有', class: 'form-control' %>
            </div>
            <div class="input-group">
              <%= text_field_tag :q, params[:q], class: 'form-control', placeholder: '输入员工号...' %>
              <span class="input-group-btn">
                <button type="submit" class="btn btn-primary">查询</button>
              </span>
            </div>
          </form>
        </span>
      </div>
    </div>
  </div>
  <div class="awidget-body">
    <table class="table table-hover table-striped table-bordered text-center table-condensed">
      <thead>
        <tr class="info">
          <td>类型</td>
          <td>名称</td>
          <td>操作</td>
        </tr>
      </thead>
      <tbody>
        <% @application_funds.each do |application_fund|%>
        <tr>
          <td><%= application_fund.fund_type_name %></td>
          <td><%= application_fund.name %></td>
          <td>
            <%= link_to  application_fund,  class: 'btn btn-xs btn-success' do %>
            <i class="fa fa-eye"></i>
            <% end %>
            <%= link_to  edit_application_fund_path(application_fund),  class: 'btn btn-xs btn-warning' do %>
            <i class="fa fa-pencil"></i>
            <% end %>
            <%= link_to  application_fund, data: {:confirm => '确定要删除吗?'}, :method => :delete, class: 'btn btn-xs btn-danger' do %>
            <i class="fa fa-times"></i>
            <% end %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>