<%= simple_form_for(@instaler,url: @instaler.new_record? ? instalers_path : instaler_path(@instaler)) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :install_type %>
    <%= f.input :phone %>
    <%= f.input :tech_rank %>
    <%= f.input :serve_rank %>
    <%= f.input :price_rank %>
    <%= f.input :secure_rank %>
    <%= f.input :credit_rank %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: 'btn btn-lg btn-block btn-primary', value: '提交' %>
  </div>
<% end %>
