<% if @order_union.errors.any? %>
    <div class="alert alert-block" style="color:red;">
        <p><%=  @order_union.errors.messages.values.join('\n') %></p>
    </div>
<% end %>


<%= nested_form_for @order_union, html: { multipart: true } do |f| %>
<div class="row">
  <div class="col-md-12 col-sm-12">
  <%= f.label "客户"%>
  <%= f.select :agent_id, Agent.all.collect { |pc| [pc.name, pc.id] }, class: 'form-control' %>
  <% if @order_union.new_record? %>
  <button type="button" class="btn btn-xs btn-info" data-toggle="modal" data-target="#createAgentModal">添加客户</button>
  <% end %>
  </div>
</div>

<div>
    <hr/>
    <div id="orders">
      <%= f.fields_for :orders, :wrapper => false do |order_form| %>
        <div class="fields awidget full-width" style="border-color: #16CBE6">
          <div class="row" style="padding-top: 10px">
            <div class="col-md-2">
              <label>产品</label>
              <%= order_form.select :product_id, Product.all.collect { |pc| [pc.name, pc.id] }, class: 'form-control' %>
            </div>
            <div class="col-md-2">
              <label>数量</label>
              <%= order_form.number_field :number, class: "input-sm",value: 1, min: 1, style: 'width:50%;' %>
            </div>
            <div class="col-md-2" >
              <label>类型</label>
               <%= order_form.select :order_type, Order.order_type, class: 'form-control'%>
            </div>
            <div class="col-md-4">
              <div class="field date-selector marked_for_destruction">
                <label>送货日期</label>
                <%= order_form.date_select :require_time,  default: 10.days.from_now, require_time: [:year, :month, :day]%>
              </div>
            </div>
          </div>
          <div class="row" style="padding-top: 10px">
            <div class="col-md-2">
              <label>颜色</label>
              <%= order_form.select(:color, options_for_select(MaterialCategory.where(oftype: 3).map {|mc| [mc.name,mc.id]}, order_form.object.color),{ :class => 'form-control'}) %>
            </div>
            <div class="col-md-2">
              <label>材质</label>
              <%= order_form.select(:texture, options_for_select(MaterialCategory.where(oftype: 1).map {|mc| [mc.name,mc.id]}, order_form.object.texture),{ :class => 'form-control'}) %>
            </div>
            <div class="col-md-2">
              <label>表面</label>
               <%= order_form.select(:face, options_for_select(MaterialCategory.where(oftype: 2).map {|mc| [mc.name,mc.id]}, order_form.object.face),{ :class => 'form-control'})%>
            </div>
            <div class="col-md-4">
              <%= order_form.file_field :file%>
            </div>
            <div class="col-md-2">
              <%= order_form.link_to_remove "删除", class: 'btn btn-info btn-lg' %>
            </div>
          </div>
          <div class="row">
            <div class="col-md-10">
              <%= order_form.text_field :terminal, class: "form-control", placeholder: "终端客户信息"%>
            </div>
          </div>
        </div>
        
      <% end %>

</div>
<div class="row" style="padding-top: 10px">
  <div class="col-md-12 col-sm-12">
    <div class="pull-left">
      <p><%= f.link_to_add "添加子订单", :orders, :data => { :target => "#orders" }, class: 'btn btn-info' %></p>
    </div>
    <div class="pull-right">
      <%= submit_tag "保存", class: 'btn btn-info'%>
    </div>
  </div>
</div>
<% end%>

<!-- Modal -->
<% if @order_union.new_record? %>
<div class="modal fade" id="createAgentModal" tabindex="-1" role="dialog" aria-labelledby="createAgentModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">代理商  <small>添加</small></h4>
      </div>

      <div class="modal-body">
        <%= simple_form_for @agent do |f| %>
        <%= f.input :name, input_html:{placeholder:'代理商名称'} %>
        <%= f.input :mobile, input_html:{placeholder:'代理商电话'} %>
        <%= f.input :address, input_html:{placeholder:'代理商地址'} %>
        <div class="row">
          <div class="col-md-12 col-sm-12">
            <div class="pull-right">
            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            <%= f.submit value:'保存', class: 'btn btn-info'  %>
            </div>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<%end %>
