<%= nested_form_for @order_union, html: { multipart: true } do |f| %>
<div class="row">
  <div class="col-md-12 col-sm-12">
  <%= f.label "客户"%>
  <%= f.select :agent_id, Agent.all.collect { |pc| [pc.name, pc.id] }, class: 'form-control' %>
  <button type="button" class="btn btn-xs btn-info" data-toggle="modal" data-target="#createAgentModal">添加客户</button>
  </div>
</div>

<div>
    <hr/>
    <div>
      <table class="table table-hover table-striped table-bordered text-center" id="orders">
        <tr  class="info">
          <th class="col-md-1 col-sm-1 text-center">产品</th>
          <th class="col-md-1 col-sm-1 text-center">数量</th>
          <th class="col-md-1 col-sm-1 text-center">类型</th>
          <th class="col-md-3 col-sm-4 text-center">发货时间(十天后)</th>
          <th class="col-md-3 col-sm-2 text-center">上传图纸</th>
          <th class="col-md-1 col-sm-1 text-center">操作</th>
        </tr>
        <%= f.fields_for :orders, :wrapper => false do |order_form| %>
        <tr class="fields">
          <td>
            <%= order_form.select :product_id, Product.all.collect { |pc| [pc.name, pc.id] }, class: 'form-control' %>
          </td>
          <td>
            <%= order_form.number_field :number, class: "control", min: 1, style: 'width:70%;' %>
          </td>
          <td>
             <%= order_form.select :order_type, Order.order_type, class: 'form-control'%>
          </td>
          <td>
            <div class="field">
              <%= order_form.date_select :require_time,  default: 10.days.from_now, require_time: [:year, :month, :day]%>
            </div>
          </td>
          <td>
            <%= order_form.file_field :file, style: 'width:70%;' %>
          </td>
          <td>
            <%= order_form.link_to_remove "删除", class: 'btn btn-info btn-xs' %>
          </td>
        </tr>
        <% end %>
      </table>
</div>
<div class="row">
  <div class="col-md-12 col-sm-12">
    <div class="pull-left">
      <p><%= f.link_to_add "添加子订单", :orders, :data => { :target => "#orders" }, class: 'btn btn-info' %></p>
    </div>
    <div class="pull-right">
      <%= submit_tag "保存", class: 'btn btn-info'%>
    </div>
  </div>
</div>
<% end%>

<!-- Modal -->
<div class="modal fade" id="createAgentModal" tabindex="-1" role="dialog" aria-labelledby="createAgentModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">代理商  <small>添加</small></h4>
      </div>

      <div class="modal-body">
        <%= simple_form_for @agent do |f| %>
        <%= f.input :name, input_html:{placeholder:'代理商名称'} %>
        <%= f.input :mobile, input_html:{placeholder:'代理商电话'} %>
        <%= f.input :address, input_html:{placeholder:'代理商地址'} %>
        <div class="row">
          <div class="col-md-12 col-sm-12">
            <div class="pull-right">
            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            <%= f.submit value:'保存', class: 'btn btn-info'  %>
            </div>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
