<div class="page-title">
  <h2><i class="fa fa-desktop color"></i> 订单管理 <small>详细</small>
  <span class="pull-right">
    <%= link_to '返回',  order_unions_path, class: 'btn btn-lg btn-info' %>
  </span>
  </h2>
  <hr />
</div>
<div class="awidget full-width">

  <div class="awidget-head">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <div class="pull-left">
          客户单号：<%= link_to @order_union.code, order_unions_path, class: 'detail-link' %>&nbsp;&nbsp;&nbsp;&nbsp;
          下单客户：<%=link_to @order_union.agent.name, agent_path(@order_union.agent), class: 'detail-link' %>&nbsp;&nbsp;&nbsp;&nbsp;
          状态：<span class='detail-link'><%= @order_union.status_name %></span>
        </div>
        <div class="pull-right">
          <% if @order_union.orders.map{|o| o.separated?}.uniq.join(',') == "true" %>
              <button type="button" class="btn btn-xs btn-info pull-right" data-toggle="modal" data-target="#offer">生成报价单</button>
          <% else %>
              <button type="button" class="btn btn-xs btn-info pull-right" data-toggle="modal" data-target="#offer" disabled="true">生成报价单</button>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="awidget-body">
    <table class="table table-hover table-striped table-bordered table-condensed text-center">
      <tr class="info">
        <td>生产单号</td>
        <td>产品</td>
        <td>数量</td>
        <td>订单类型</td>
        <td>发货时间</td>
        <td>订单状态</td>
      </tr>
      <% @order_union.orders.each do |order|%>
      <% next if order.is_delete%>
        <tr>
          <td><%= link_to order.name, order_path(order), class: 'detail-link' %></td>
          <td><%= order.product.name%></td>
          <td><%= order.number %></td>
          <td><%= order.order_type_name %></td>
          <td><%= order.require_time.localtime.strftime("%Y-%m-%d")%></td>
          <td><%= order.work.try(:name)%></td>
        </tr>
      <% end %>
    </table>
  </div>

</div>
<%= render 'order_offers'%>