<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @mould.code %>
</p>

<p>
  <strong>Name:</strong>
  <%= @mould.name %>
</p>

<%= link_to 'Edit', edit_mould_path(@mould) %> |
<%= link_to 'Back', moulds_path %>
