<div class="page-title">
  <h2><i class="fa fa-desktop color"></i> 角色权限 <small>列表</small>
  <span class="pull-right">
    <%= link_to '添加', new_role_path, class: 'btn btn-lg btn-info' %>
  </span>
  </h2>
  <hr />
</div>
<div class="awidget full-width">
  <div class="awidget-body">
    <table class="table table-hover table-striped table-bordered table-condensed text-center">
      <thead>
        <tr class="info">
          <th class="text-center">角色名</th>
          <th class="text-center">关键字</th>
          <th class="text-center">操作</th>
        </tr>
      </thead>
      <tbody>
        <% @roles.each do |role| %>
        <tr class="odd gradeX">
          <td><%= link_to role.name, role_path(role), class: 'detail-link' %></td>
          <td><%= role.key %></td>
          <td>
            <%= link_to edit_role_path(role), class: 'btn btn-xs btn-warning' do %><i class="fa fa-pencil"></i><% end %>
            <%= link_to role, method: :delete, data: { confirm: '确定删除?' }, class: 'btn btn-xs btn-danger' do %><i class="fa fa-times"></i><% end %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>