<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @month_salary.user %>
</p>

<p>
  <strong>Name:</strong>
  <%= @month_salary.name %>
</p>

<p>
  <strong>Total:</strong>
  <%= @month_salary.total %>
</p>

<p>
  <strong>Extra:</strong>
  <%= @month_salary.extra %>
</p>

<p>
  <strong>Add:</strong>
  <%= @month_salary.add %>
</p>

<p>
  <strong>Cut:</strong>
  <%= @month_salary.cut %>
</p>

<p>
  <strong>Bonus:</strong>
  <%= @month_salary.bonus %>
</p>

<p>
  <strong>Old age insurance:</strong>
  <%= @month_salary.old_age_insurance %>
</p>

<p>
  <strong>Medicare insurance:</strong>
  <%= @month_salary.medicare_insurance %>
</p>

<p>
  <strong>Unemployed insurance:</strong>
  <%= @month_salary.unemployed_insurance %>
</p>

<p>
  <strong>House fund:</strong>
  <%= @month_salary.house_fund %>
</p>

<p>
  <strong>Pre tax:</strong>
  <%= @month_salary.pre_tax %>
</p>

<p>
  <strong>Income tax:</strong>
  <%= @month_salary.income_tax %>
</p>

<p>
  <strong>Actual:</strong>
  <%= @month_salary.actual %>
</p>

<%= link_to 'Edit', edit_month_salary_path(@month_salary) %> |
<%= link_to 'Back', month_salaries_path %>
