<%= simple_form_for(@order_bill) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :order %>
    <%= f.input :total %>
    <%= f.input :paid %>
    <%= f.input :left %>
    <%= f.input :pay_date %>
    <%= f.input :pay_account %>
    <%= f.input :directive %>
    <%= f.association :user %>
    <%= f.input :delivery_date %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
