<!-- Page title -->
<div class="page-title">
  <h2><i class="fa fa-desktop color"></i>已审核订单<small>列表</small>
  <span class="pull-right">
  </span>
  </h2>
  <hr />
</div>
<!-- Page title -->
<div class="awidget full-width">
  <div class="awidget-head">
    <div class="row">
      <div class="col-md-12 col-sm-12">
      </div>
    </div>
  </div>
  <div class="awidget-body">
    <table class="table table-striped table-hover table-bordered text-center">
      <thead>
        <tr class="info">
          <th class="text-center">订单号</th>
          <th class="text-center">应收款</th>
          <th class="text-center">实收款</th>
          <th class="text-center">报价时间</th>
          <th class="text-center">账单回传时间</th>
          <th class="text-center">客户单号</th>
          <th class="text-center" colspan="3">操作</th>
        </tr>
      </thead>
      <tbody>
        <% @orders.each do |order| %>
        <tr>
          <td><%= link_to order.order_code, order_path(order) %></td>
          <td><%= order.offers.map(&:total).sum %></td>
          <td><%= order.order_bills.map(&:paid).sum %></td>
          <td><%= order.try(:offer_time) %></td>
          <td><%= order.try(:verify_time) %></td>
          <td><%= order.customer_code %></td>
          <td>
            <%= link_to '添加到款', new_order_order_bill_path(order), class: 'btn btn-xs btn-info'%>
            <%= link_to '查看', order_order_bills_path(order), class: 'btn btn-xs btn-success'%>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>