<div class="page-title">
  <h2><i class="fa fa-desktop color"></i>  订单到款 <small>详细</small>
  <span class="pull-right">
    <%= link_to('返回', :back, class: 'btn btn-lg btn-default') %>
  </span>
  </h2>
  <hr />
</div>

<div class="awidget full-width">
  <div class="awidget-head">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <h3>订单到款详细</h3>
      </div>
    </div>
  </div>
  <div class="awidget-body">
    <table class="table table-hover table-striped table-bordered">
      <tbody>
        <tr>
          <th class="col-xs-2 text-center info">订单号</th>
          <td class="col-xs-4"><%= @order_bill.order.order_code %></td>
          <th class="col-xs-2 text-center info">应收款</th>
          <td class="col-xs-4"><%= @order_bill.total %></td>
        </tr>
        <tr>
          <th class="col-xs-2 text-center info">实收款</th>
          <td class="col-xs-4"><%= @order_bill.paid %></td>
          <th class="col-xs-2 text-center info">未收款</th>
          <td class="col-xs-4"><%= @order_bill.left %></td>
        </tr>
        <tr>
          <th class="col-xs-2 text-center info">结付日</th>
          <td class="col-xs-4"><%= @order_bill.pay_date %></td>
          <th class="col-xs-2 text-center info">付款账户</th>
          <td class="col-xs-4"><%= @order_bill.pay_account %></td>
        </tr>
        <tr>
          <th class="col-xs-2 text-center info">指令</th>
          <td class="col-xs-4"><%= @order_bill.directive %></td>
          <th class="col-xs-2 text-center info">催款人</th>
          <td class="col-xs-4"><%= @order_bill.user.name %></td>
        </tr>
        <tr>
          <th class="col-xs-2 text-center info">发货日期</th>
          <td class="col-xs-4"><%= @order_bill.delivery_date %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>