<div class="page-title">
  <h2><i class="fa fa-desktop color"></i> 板料管理 <small>列表</small>
  <span class="pull-right">
    <%= link_to '添加', new_material_path, class: 'btn btn-lg btn-info' %>
  </span>
  </h2>
  <hr />
</div>
<div class="awidget full-width">
  <div class="awidget-head">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <h3>板料管理列表</h3>
      </div>
    </div>
  </div>
  <div class="awidget-body">
    <table class="table table-hover table-striped table-bordered">
      <thead>
        <tr class="info">
          <th class="col-md-2">板料种类</th>
          <th class="col-md-1">板料类型</th>
          <th class="col-md-2">编码</th>
          <th class="col-md-1">价格</th>
          <th class="col-md-1">数量</th>
          <th class="col-md-1">价格</th>
          <th class="col-md-2">供应商</th>
          <th class="col-md-2" colspan="3">操作</th>
        </tr>
      </thead>
      <tbody>
        <% @materials.each do |material| %>
        <tr>
          <td><%= material.material_category.name %></td>
          <td><%= material.material_type.name %></td>
          <td><%= material.code %></td>
          <td><%= material.price %></td>
          <td><%= material.number %></td>
          <td><%= material.unit %></td>
          <td><%= material.supplier.name %></td>
          <td><%= link_to '详细', material %>&nbsp;
            <%= link_to '编辑' , edit_material_path(material) %>&nbsp;
            <%= link_to '删除', material, method: :delete, data: { confirm: '确定删除?' } %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<br>