<%= simple_form_for(@produce) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :produce_task %>
    <%= f.input :start_time %>
    <%= f.input :end_time %>
    <%= f.association :work %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
