<div class="page-title">
  <h2><i class="fa fa-desktop color"></i> 生产管理 <small>列表</small>
  <span class="pull-right">
  </span>
  </h2>
  <hr />
</div>

<% @produce_tasks.each_pair do |work_id, produce_tasks|%>
  <div class="awidget full-width">
  <div class="awidget-head">
    <div class="row">
      <div class="col-xs-12 col-sm-12">
        <h3>已<%= Work.find(work_id).name%>&nbsp;&nbsp;列表</h3>
      </div>
    </div>
  </div>
  <div class="awidget-body">
    <table class="table table-hover table-striped table-bordered table-condensed text-center">
      <thead>
        <tr class="info">
          <th class="col-xs-2 text-center">生产单号</th>
          <th class="col-xs-2 text-center">名称</th>
          <th class="text-center">面积</th>
          <th class="text-center">数量</th>
          <th class="col-xs-2 text-center" colspan="3">操作</th>
        </tr>
      </thead>
      <tbody>
        <% produce_tasks.each do |pt| %>
        <tr>
          <td><%= pt.id %></td>
          <td><%= pt.item.name %></td>
          <td><%= pt.area %></td>
          <td><%= pt.number %></td>
          <td>
           <% if Work.find(work_id).next_seq  %>
            <%= link_to "完成"+Work.find(work_id).next_seq.name, new_produce_path(produce_task_id: pt.id), class: "btn btn-xs btn-success"%>
            <%end%>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>


<%end%>

<br>