<p id="notice"><%= notice %></p>

<p>
  <strong>Produce task:</strong>
  <%= @produce.produce_task %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @produce.start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @produce.end_time %>
</p>

<p>
  <strong>Work:</strong>
  <%= @produce.work %>
</p>

<%= link_to 'Edit', edit_produce_path(@produce) %> |
<%= link_to 'Back', produces_path %>
