<div class="page-title">
  <h2><i class="fa fa-desktop color"></i> 供应商管理 <small>管理</small>
  <span class="pull-right">
    <%= link_to '添加', new_supplier_path, class: 'btn btn-lg btn-info' %>
  </span>
  </h2>
  <hr />
</div>

<div class="awidget full-width">
  <div class="awidget-head">
    <div class="row">
      <div class="col-xs-12 col-sm-12">
        <h3>供应商列表</h3>
      </div>
    </div>
  </div>
  <div class="awidget-body">
    <table class="table table-hover table-bordered table-striped text-center">
      <thead>
        <tr class="info">
          <th class="text-center">名称</th>
          <th class="text-center">电话</th>
          <th class="text-center">账户</th>
          <th class="text-center">地址</th>
          <th class="text-center">备注</th>
          <th class="text-center" colspan="3">操作</th>
        </tr>
      </thead>
      <tbody>
        <% @suppliers.each do |supplier| %>
        <tr>
          <td><%= supplier.name %></td>
          <td><%= supplier.mobile %></td>
          <td><%= supplier.bank_account %></td>
          <td><%= supplier.address %></td>
          <td><%= supplier.note %></td>
          <td><%= link_to supplier, class: 'btn btn-xs btn-success' do %><i class="fa fa-eye"></i><%end%>
          <%= link_to edit_supplier_path(supplier), class: 'btn btn-xs btn-warning' do %><i class="fa fa-pencil"></i><%end%>
          <%= link_to supplier, method: :delete, data: { confirm: '确定删除？' }, class: 'btn btn-xs btn-danger' do %><i class="fa fa-times"></i><%end%>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<br>