<div class="sidey">
    <div class="side-cont">
        <ul class="nav">
            <!-- Main menu -->
            <li><a href="#"><i class="fa fa-home"></i> 控制面板</a></li>
            <li class="<%="#{'current' if controller_name == 'departments'}" %>"><a href="/departments"><i class="fa fa-bar-chart-o"></i> 部门信息</a></li>
            <li class="has_submenu <%= 'current open' if controller_name == 'users' %>">
                 <a href="#">
                    <i class="fa fa-sitemap"></i> 员工信息
                    <span class="caret pull-right"></span>
                 </a>
                 <!-- Sub menu -->
                 <ul>
                    <li class='<%="#{'active' if controller_name == 'users'}" %>'><a href="/users">员工表</a></li>
                    <li><a href="tables.html">Tables</a></li>
                    <li><a href="form.html">Form</a></li>
                </ul>
            </li>
            <li <%="#{'current' if controller_name == 'roles'}" %>><a href="/roles"><i class="fa fa-th"></i> 角色权限管理</a></li>
            <li class="has_submenu <%= 'current open' if  ['part_categories', 'parts'].include?(controller_name) %>">
                <a href="#">
                    <i class="fa fa-file"></i> 仓储信息
                    <span class="caret pull-right"></span>
                </a>
                <ul>
                    <li class='<%="#{'active' if controller_name == 'part_categories'}" %>'><a href="/part_categories">配件种类</a></li>
                    <li class='<%="#{'active' if controller_name == 'parts'}" %>'><a href="/parts">配件</a></li>
                    <li><a href="errorlog.html">板料</a></li>         
                </ul>
            </li> 
            <li><a href="calendar.html"><i class="fa fa-calendar"></i> Calendar</a></li>
            <li><a href="gallery.html"><i class="fa fa-camera"></i> Gallery</a></li>
        </ul>
    </div>
</div>