<div class="sidey">
    <div class="side-cont">
        <ul class="nav">
            <!-- Main menu -->
            <li class="<%="#{'current' if controller_name == 'visitors_index'}" %>"><a href="/visitors/index"><i class="fa fa-home"></i> 控制面板</a></li>
            <li class="<%="#{'current' if controller_name == 'departments'}" %>"><a href="/departments"><i class="fa fa-bar-chart-o"></i> 部门信息</a></li>
            <li class="has_submenu <%= 'current open' if ['users', 'staffs'].include?(controller_name)%>">
                 <a href="#">
                    <i class="fa fa-sitemap"></i> 员工信息
                    <span class="caret pull-right"></span>
                 </a>
                 <!-- Sub menu -->
                 <ul>
                    <li class='<%="#{'active' if controller_name == 'users'}" %>'><a href="/users">员工表</a></li>
                    <li class='<%="#{'active' if controller_name == 'staffs'}" %>'><a href="/staffs">员工基础信息</a></li>
                </ul>
            </li>
            <li class="has_submenu <%= 'current open' if ['agents', 'suppliers'].include?(controller_name) %>">
                 <a href="#">
                    <i class="fa fa-sitemap"></i> 客户信息
                    <span class="caret pull-right"></span>
                 </a>
                 <!-- Sub menu -->
                 <ul>
                    <li class='<%="#{'active' if controller_name == 'suppliers'}" %>'><a href="/suppliers">供应商</a></li>
                    <li class='<%="#{'active' if controller_name == 'agents'}" %>'><a href="/agents">代理商</a></li>
                </ul>
            </li>
            <li class="has_submenu <%= 'current open' if ['purchases', 'order_bills', 'flow_bills', 'month_salaries', 'assets', 'application_funds'].include?(controller_name)%>">
                 <a href="#">
                    <i class="fa fa-sitemap"></i> 财务
                    <span class="caret pull-right"></span>
                 </a>
                 <!-- Sub menu -->
                 <ul>
                    <li class='<%="#{'active' if controller_name == 'order_bills' and action_name=='not_check'}" %>'><a href="/order_bills/not_check">未审核订单</a></li>
                    <li class='<%="#{'active' if controller_name == 'order_bills' and action_name == 'checked'}" %>'><a href="/order_bills/checked">已审核订单</a></li>
                    <li class='<%="#{'active' if controller_name == 'purchases' and action_name == 'not_check'}" %>'><a href="/purchases/not_check">未审核采购单</a></li>
                    <li class='<%="#{'active' if controller_name == 'flow_bills'}" %>'><a href="/flow_bills">流水单</a></li>
                    <li class='<%="#{'active' if controller_name == 'month_salaries'}" %>'><a href="/month_salaries">工资单</a></li>
                    <li class='<%="#{'active' if controller_name == 'application_funds'}" %>'><a href="/application_funds">资金科目</a></li>
                    <li class='<%="#{'active' if controller_name == 'assets'}" %>'><a href="/estates">耐用资产</a></li>
                </ul>
            </li>
            <li <%="#{'current' if controller_name == 'roles'}" %>><a href="/roles"><i class="fa fa-th"></i> 角色权限管理</a></li>
            <li class="has_submenu <%= 'current open' if  ['part_categories', 'parts', 'material_categories', 'material_types', 'materials', 'item_storages', 'out_storages'].include?(controller_name) %>">
                <a href="#">
                    <i class="fa fa-file"></i> 仓储信息
                    <span class="caret pull-right"></span>
                </a>
                <ul>
                    <li class='<%="#{'active' if controller_name == 'part_categories'}" %>'><a href="/part_categories">配件种类</a></li>
                    <li class='<%="#{'active' if controller_name == 'parts'}" %>'><a href="/parts">配件</a></li>
                    <li class='<%="#{'active' if controller_name == 'material_categories'}" %>'><a href="/material_categories">板料种类</a></li>
                    <li class='<%="#{'active' if controller_name == 'materials'}" %>'><a href="/materials">板料资料</a></li>
                    <li class='<%="#{'active' if controller_name == 'item_storages'}" %>'><a href="/item_storages">外购入库</a></li>
                    <li class='<%="#{'active' if controller_name == 'out_storages'}" %>'><a href="/out_storages">领料出库</a></li>
                </ul>
            </li>
            <li class='<%="#{'current' if controller_name == 'orders'}" %>'><a href="/order_unions"><i class="fa fa-th"></i> 订单</a></li>
            <li class="has_submenu <%= 'current open' if ['produce_tasks'].include?(controller_name) %>">
                 <a href="#">
                    <i class="fa fa-sitemap"></i> 生产任务
                    <span class="caret pull-right"></span>
                 </a>
                 <!-- Sub menu -->
                 <ul>
                    <li class='<%="#{'active' if controller_name == 'produce_tasks' and ['not_open', 'new'].include?(action_name)}" %>'><a href="/produce_tasks/not_open">未下单</a></li>
                    <li class='<%="#{'active' if controller_name == 'produce_tasks' and !(['not_open', 'new'].include?(action_name))}" %>'><a href="/produce_tasks">已下单</a></li>
                </ul>
            </li>
            <li class='<%="#{'current' if controller_name == 'purchases'}" %>'><a href="/purchases"><i class="fa fa-th"></i> 采购</a></li>
            <li class='<%="#{'current' if controller_name == 'produces'}" %>'><a href="/produces"><i class="fa fa-th"></i> 生产单</a></li>
            <li class="has_submenu <%= 'current open' if ['delivery_plans', 'logistic_providers', 'drivers', 'instalers'].include?(controller_name) %>">
                 <a href="#">
                    <i class="fa fa-sitemap"></i> 发货／物流
                    <span class="caret pull-right"></span>
                 </a>
                 <!-- Sub menu -->
                 <ul>
                    <li class='<%="#{'active' if controller_name == 'delivery_plans'}" %>'><a href="/delivery_plans">发货计划单</a></li>
                    <li class='<%="#{'active' if controller_name == 'logistic_providers' }" %>'><a href="/logistic_providers">物流商</a></li>
                    <li class='<%="#{'active' if controller_name == 'drivers'}" %>'><a href="/drivers">司机</a></li>
                    <li class='<%="#{'active' if controller_name == 'instalers'}" %>'><a href="/instalers">安装工人</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>