<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= content_for?(:title) ? yield(:title) : "家具ERP系统" %></title>
  <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "家具办公OA系统" %>">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<% if user_signed_in? %>
	  <%= render '/layouts/header' %>
	  <div class="page-content blocky">
	    <div class="container">

	      <%= render '/layouts/menu' %>
	      <div class="mainy">
	        <%= render '/layouts/messages' %>
	        <%= yield %>
	      </div>
	      <div class="clearfix"></div>

	    </div>
	  </div>
	<% end %>
  <%= render '/layouts/footer' %>
</body>
</html>
