<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= content_for?(:title) ? yield(:title) : "家具办公OA系统" %></title>
  <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "家具办公OA系统" %>">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="header">
	   <div class="container">
	      <div class="row">
	         <div class="col-md-12">
	            <!-- Logo -->
	            <div class="logo text-center">
	               <h1><a href="#">家具办公OA</a></h1>
	            </div>
	         </div>
	      </div>
	   </div>
	</div>
      <!-- Page content -->
	<%= render '/layouts/messages' %>    
	<div class="page-content blocky">
   	<div class="container">
	    <%= yield %>
	      
	    <div class="clearfix"></div>
	  </div>
	</div>
  <%= render '/layouts/footer' %>
</body>
</html>
